:root {
    --pink: #e1679c;
    --blue: #03a6f2;
    --green: #7cdb8d;
    --yellow:  #ffc442;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0/0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 4000px;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/photo-1519741497674-611481863552.webp);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: saturate();
    -webkit-filter: saturate();
}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero h1,.hero h4,.hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: "Sacramento", cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--pink);
    background-color: black;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--pink);
    color: black;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(3px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
    font-family: "Sacramento", cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    font-weight: 400;
    text-transform: uppercase;
}

.home{
    background-image: url(assets/bg.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6.3rem;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.home h2 {
    font-family: "Sacramento", cursive;
    font-weight: bold;
    font-size: 5rem;
}

.home h3 {
    color: #444;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.home p {
    color: #666;
    font-size: 1.2rem;
}

.home .couple {
    margin-top: 100px;
}

.home .couple h3 {
    font-family: "Sacramento", cursive;
    font-size: 2.6rem;
}

.home .couple img  {
    width: 100%;
}

.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
    -webkit-transform: translateX(-50%) translateY(65px);
    -moz-transform: translateX(-50%) translateY(65px);
    -ms-transform: translateX(-50%) translateY(65px);
    -o-transform: translateX(-50%) translateY(65px);
}

.home .heart i {
    margin: auto;
    color: var(--pink);
}

.info {
    background-color: var(--bg);
    color: white;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.info h2 {
    font-family: "Sacramento", cursive;
    font-size: 5rem;
    font-weight: bold;
    color: var(--yellow);
}

.info .alamat {
    font-size: 1.2rem;
}

.info .description {
    font-size: 1.1rem;
    font-weight: 300;
}

.info .card {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: white !important;
    border: 1px solid whitesmoke;
}

.info .card-header {
    border: 1px solid whitesmoke;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.info .card-body {
    font-size: 1rem;
}

.info .card-footer {
    font-size: 0.8rem;
    border-top: 1px solid whitesmoke;
}

.info a {
    color: var(--yellow);
    background-color: black;
    box-shadow: var(--shadow);
}

.info a:hover {
    background-color: var(--yellow);
    color: black;
}

/* Media Query */
/* XL */
@media (max-width: 1200px) {
    .home .heart {
        transform: translateX(-50%) translateY(45px);
        -webkit-transform: translateX(-50%) translateY(45px);
        -moz-transform: translateX(-50%) translateY(45px);
        -ms-transform: translateX(-50%) translateY(45px);
        -o-transform: translateX(-50%) translateY(45px);
    }
}

/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 85%;
    }

    .simply-countdown > .simply-section {
        padding: 70px;
    }

    .home .heart {
        display: none;
    }
}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown > .simply-section {
        padding: 60px;
        margin: 5px;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }
}

/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }

    .simply-countdown > .simply-section {
        padding: 40px;
        margin: 3px;
    }
}